<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="StartTimeDayCompensation" value=""/>
		<add key="EndTimeDayCompensation" value=""/>
		<add key="StartTimeDayEveningCompensation" value=""/>
		<add key="EndTimeDayEveningCompensation" value=""/>
		<add key="DayCompensationValue" value=""/>
		<add key="DayEveningCompensationValue" value=""/>
		<add key="PathToSaveReports" value=""/>
	</appSettings>
</configuration>